.wrapper {
  overflow: auto;
  height: 100%;
  position: relative;
}
.interact {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-input);
}
.interact > section {
  margin-top: 30%;
  padding: 10%;
  text-align: center;
  font-size: 1.3rem;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  transition: all 0.5s ease;
}
.inputCon {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inputCon > Button {
  background: transparent;
  border: none;
}
.input {
  text-align: center;
  width: 90%;
  border: none;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-input);
  caret-color: var(--color-input);
  color: var(--color-input);
  font-size: 1.3rem;
}
.input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-input);
  /* animation: blink 0.98s infinite; */
}
@keyframes blink {
  0%,
  100% {
    border-bottom-color: transparent;
  }
  50% {
    border-bottom-color: var(--color-input);
  }
}
