@import "../App.css";

.body {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.LoadWrap {
  width: 100px;
  background-color: var(--color-bg);
  text-align: center;
}
