.background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  color: white;

  background-color: var(--color-modal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 60vh;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.footer {
  position: absolute;
  top: 73%;
  left: 70%;
}

.modalImg {
}

.modalScript {
  font-size: 1.3rem;
}

/* .fade {
  transition: all 0.5s ease;
  display: none;
} */
