.background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  padding: 10%;
  color: white;

  background-color: rgba(255, 255, 255, 0.1); /* 약간 투명한 배경색 추가 */
  backdrop-filter: blur(10px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 50%;
  height: 30%;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.wrapper > nav {
  font-size: 1.3rem;
}

.modalImg,
.modalScript {
  margin-top: 15%;
  margin-bottom: 13%;
}
.footer {
  animation: blink 0.9s infinite ease alternate;
}
@keyframes blink {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}

.modalImg {
}

.modalScript {
  font-size: 1.3rem;
}

/* .fade {
  transition: all 0.5s ease;
  display: none;
} */
