.background {
  backdrop-filter: blur(5px);
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.nickCon {
  transition: all 0.5s ease;
}

.birthCon {
  transition: all 0.5s ease;
}

.wrapper {
  color: white;

  /* background-color: transparent; */
  position: fixed;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
}

.wrapper {
  /* filter: blur(5px);s */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  border: 1px solid var(--color-modal-border);
  box-shadow: 1px 1px 20px -5px var(--color-modal-shadow);
  border-radius: 10px;
  font-size: 1.3rem;
}

.input {
  color: var(--color-input);
  font-size: 1.3rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--color-input);
  background-color: transparent;
}
.input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-input);
  animation: blink 1s infinite;
}
.input::placeholder {
  color: rgba(255, 255, 240, 0.3);
}

@keyframes blink {
  0%,
  100% {
    border-bottom-color: transparent;
  }
  50% {
    border-bottom-color: var(--color-input);
  }
}

.toNextBtn {
  font-family: "Jua", sans-serif;
  font-style: normal;
  padding: 2%;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 1px solid var(--color-input);
  color: var(--color-input);
  background: transparent;
}
