html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-background);
  font-family: "Jua", sans-serif;
  font-style: normal;
}
body {
  -ms-overflow-style: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #000;
  --color-background: linear-gradient(
    black,
    #012a4a,
    #013a63,
    #01497c /* #014f86 */
  );
  --color-background2: linear-gradient(black, #012a4a);
  --color-modal-shadow: rgb(200, 195, 123);
  --color-modal-border: rgba(200, 195, 123, 0.5);
  --color-input: floralwhite;
}

html.dark {
  --color-accent: #495057;
  --color-bg: #212529;
  --color-bg-darker: #495057;
  --color-bg-sidebar: #343a40;
  --color-bg-nav-hover: #222;
  --color-bg-actived: #495057;
  --color-border: #f8f9fa;
  --color-text: #dee2e6;
  --color-text-actived: #fff;
  --color-text-hover: #adb5bd;
  --color-badge: #495057;
}

/* .nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-style: normal;
} */

/* .jua-regular {
  font-family: "Jua", sans-serif;
  font-style: normal;
} */
