:root {
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #03045e;
  --color-bg: #caf0f8;
  --color-bg-darker: #ade8f4;
  --color-bg-sidebar: #fff;
  --color-bg-nav-hover: #e8f8fb;
  --color-bg-actived: #023e8a;
  --color-border: #03045e;
  --color-text: #03045e;
  --color-text-actived: #fff;
  --color-text-hover: #0096c7;
  --color-badge: #fff;
}

html.dark {
  --color-accent: #495057;
  --color-bg: #212529;
  --color-bg-darker: #495057;
  --color-bg-sidebar: #343a40;
  --color-bg-nav-hover: #222;
  --color-bg-actived: #495057;
  --color-border: #f8f9fa;
  --color-text: #dee2e6;
  --color-text-actived: #fff;
  --color-text-hover: #adb5bd;
  --color-badge: #495057;
}
